 #ticketMain{
  display: flex;
  flex-direction: row;
  justify-content: center;
} 
.ticket-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Ticket{
  margin: 30px;
}